body{
    margin: 0;
    padding: 0;
    font-family: "Ojuju", sans-serif;
}


.about{
    background-color: red;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/* .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100vh;
    width: 100%;
    place-content: center;
    
} */

.left, .right{
    width: 3px;
    background-color: #ffa260;
    position: absolute;
    top: 5rem; 
    bottom: 5rem; 
}

.left{
    left: 5%; 
}

.right{
    right: 5%; 
}

.up, .down{
    width: 40%;
    height: 1px;
    background-color: #ffa260;
    border: 1px solid #ffa260;
    position: absolute;
}

.up{
    top: 4.5rem; 
    left: 5%; 
}

.down{
    bottom: 4.5rem; 
    right: 5%; 
}



.pic img{
    width:14rem;
    height: 30rem;
    padding-left: 5rem;
}

.text{
    color: white;
    max-width: 900px;
    text-align:start;
    padding-right: 5rem;
   
}

h1{
    color: white;
    text-transform: uppercase;
}

span{
    color: #ffa260;
}

button{
    
    background:none;
    color: #ffa260;
    border:2px solid;
    transition: all 0.2s;
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
    font-family: "Ojuju", sans-serif;
}

button:hover {
    border-color: #f1ff5c;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor:pointer;
}

@media screen and (max-width: 1000px) {
    .about{
        font-size: 12px;
    }

    .pic img{
        width: 10rem;
    }
}

@media screen and (max-width: 700px){
    .about{
        font-size: 10px;
    }

    .pic img{
        width: 8rem;
    }
}

@media screen and (max-width: 500px){
    .about{
        font-size: 9px;
    }

    .pic img{
        width: 6rem;
        padding-left: 3rem;
    }

    .text{
        padding-right: 3rem;
    }
}

@media screen and (max-width: 376px){
    .up, .down, .left, .right{
        display: none;
    }

    .about{
        font-size: 9px;
    }

    .pic img{
        width: 6rem;
        padding-left: 2rem;
    }

    .text{
        padding-right: 2rem;
    }

    .container{
        gap: 5%;
    }
}

/* @media screen and (max-width: 360px){
    .about{
        font-size: 9px;
    }

    .pic img{
        width: 6rem;
        padding-left: 2rem;
    }

    .text{
        padding-right: 2rem;
    }

    .container{
        gap: 5%;
    }
} */





/* @media screen and (min-width: 664px) and (min-height:322px){
    .about{
        font-size: 2vh;
    }

    .pic img{
        height: 80vh;
    }
} */


@media screen and (min-width: 664px) and (max-width: 1084px) {
    .about{
        font-size: 14px;
    }

    .pic img{
        width: 8rem;
        height: 60vh;
    }
}


